body{
    background-color: lightgray;
}
main{
    margin: auto;
    background-color: white;
    width: 1000px;
    border-radius: 30px;
    height: 200px;
}
h1{
    background-color: lightskyblue;
    text-align: center;
    margin: auto;
    width: 80%;
    height: 50px;
    border-radius: 30px;

    display: flex;
    justify-content: center;
    align-items: center;
    
}